body
{
	background-color: black;
}
#header
{
	height: 100px;
	text-align: center;
}
#title
{
	font-family: 'Exo 2', sans-serif;
	font-size: 30;
	color: skyblue;
	position: relative;
	top: 35%;
}
#line
{
	height: 0.5px;
	background-color: skyblue;
	position: relative;
}
#board
{
	width: 100%;
	height: 275px;
	background-image: url("images/space.jpg");
	background-size: 100%;
	padding: 33px 0% 0% 0%;
}
#control
{
	width: 100%;
	height: 115px;
}
.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#arrows
{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
}
#turnl
{
	background-image: url("images/arrow_l.png");
	background-size: 100%;
	width: 35px;
	height: 35px;
	display: inline-block;
}
#adv
{
	background-image: url("images/arrow_a.png");
	background-size: 100%;
	width: 35px;
	height: 35px;
	display: inline-block;
}
#turnr
{
	background-image: url("images/arrow_r.png");
	background-size: 100%;
	width: 35px;
	height: 35px;
	display: inline-block;
}
#button
{
	width: 35px;
	height: 35px;
	background-color: red;
	border-radius: 50%;
	box-shadow: 0 1px 2px #fff, 0 -1px 1px #666, inset 0 -2px 1px rgba(0,0,0,0.5), inset 0 1px 1px rgba(255,255,255,0.8);
	display: inline-block;
	transform: translate(30%);
}
#footer
{
	height: 35px;
	text-align: center;
}
a
{
	font-family: verdana;
	font-size: 10;
	color: skyblue;
}
td
{
	background-image: url("");
	background-size: 100%;
	margin: auto%;
	width: 60px;
	height: 60px;
}
table
{
	margin: auto;
}
table, td
{
	color: white;
	border: 1px solid skyblue;
	border-collapse: collapse;
}
#y0x0 
{
	background-image: url("images/ship1.png");
	background-size: 80%;
	background-repeat : no-repeat;
	background-position : center;
	transform: rotate(90deg);
}
#y0x1
{
	background-image: url("images/ship1.png");
	background-size: 80%;
	background-repeat : no-repeat;
	background-position : center;
	transform: rotate(90deg);
}
#y0x2 
{
	background-image: url("images/ship1.png");
	background-size: 80%;
	background-repeat : no-repeat;
	background-position : center;
	transform: rotate(90deg);
}
#y0x3 
{
	background-image: url("images/ship1.png");
	background-size: 80%;
	background-repeat : no-repeat;
	background-position : center;
	transform: rotate(90deg);
}
#y0x4 
{
	background-image: url("images/ship1.png");
	background-size: 80%;
	background-repeat : no-repeat;
	background-position : center;
	transform: rotate(90deg);
}
#y0x5 
{
	background-image: url("images/ship1.png");
	background-size: 80%;
	background-repeat : no-repeat;
	background-position : center;
	transform: rotate(90deg);
}
#y1x0 
{
	background-image: url("images/ship1.png");
	background-size: 80%;
	background-repeat : no-repeat;
	background-position : center;
	transform: rotate(90deg);
}
#y1x1
{
	background-image: url("images/ship1.png");
	background-size: 80%;
	background-repeat : no-repeat;
	background-position : center;
	transform: rotate(90deg);
}
#y1x2 
{
	background-image: url("images/ship1.png");
	background-size: 80%;
	background-repeat : no-repeat;
	background-position : center;
	transform: rotate(90deg);
}
#y1x3 
{
	background-image: url("images/ship1.png");
	background-size: 80%;
	background-repeat : no-repeat;
	background-position : center;
	transform: rotate(90deg);
}
#y1x4 
{
	background-image: url("images/ship1.png");
	background-size: 80%;
	background-repeat : no-repeat;
	background-position : center;
	transform: rotate(90deg);
}
#y1x5 
{
	background-image: url("images/ship1.png");
	background-size: 80%;
	background-repeat : no-repeat;
	background-position : center;
	transform: rotate(90deg);
}
#y2x0 
{
	background-image: url("images/ship1.png");
	background-size: 80%;
	background-repeat : no-repeat;
	background-position : center;
	transform: rotate(90deg);
}
#y2x1
{
	background-image: url("images/ship1.png");
	background-size: 80%;
	background-repeat : no-repeat;
	background-position : center;
	transform: rotate(90deg);
}
#y2x2 
{
	background-image: url("images/ship1.png");
	background-size: 80%;
	background-repeat : no-repeat;
	background-position : center;
	transform: rotate(90deg);
}
#y2x3 
{
	background-image: url("images/ship1.png");
	background-size: 80%;
	background-repeat : no-repeat;
	background-position : center;
	transform: rotate(90deg);
}
#y2x4 
{
	background-image: url("images/ship1.png");
	background-size: 80%;
	background-repeat : no-repeat;
	background-position : center;
	transform: rotate(90deg);
}
#y2x5 
{
	background-image: url("images/ship1.png");
	background-size: 80%;
	background-repeat : no-repeat;
	background-position : center;
	transform: rotate(90deg);
}
#y3x0 
{
	background-image: url("images/ship1.png");
	background-size: 80%;
	background-repeat : no-repeat;
	background-position : center;
	transform: rotate(90deg);
}
#y3x1
{
	background-image: url("images/ship1.png");
	background-size: 80%;
	background-repeat : no-repeat;
	background-position : center;
	transform: rotate(90deg);
}
#y3x2 
{
	background-image: url("images/ship1.png");
	background-size: 80%;
	background-repeat : no-repeat;
	background-position : center;
	transform: rotate(90deg);
}
#y3x3 
{
	background-image: url("images/ship1.png");
	background-size: 80%;
	background-repeat : no-repeat;
	background-position : center;
	transform: rotate(90deg);
}
#y3x4 
{
	background-image: url("images/ship1.png");
	background-size: 80%;
	background-repeat : no-repeat;
	background-position : center;
	transform: rotate(90deg);
}
#y3x5
{
	background-image: url("images/ship2.png");
	background-size: 80%;
	background-repeat : no-repeat;
	background-position : center;
	transform: rotate(270deg);
}
#boom
{
	background-image: url("images/boom.png");
	background-size: 80%;
	background-repeat : no-repeat;
	background-position : center;
	transform: rotate(270deg);
}
