#header
{
	height: 13%;
	background-color: black;
}
#title
{
	height: 100%;
	background-image: url("title2.png");
	background-size: 500px;
	background-repeat : no-repeat;
	background-position : center;
}
#line
{
/*	height: 0.5px;*/
	background-color: skyblue;
}
#board
{
	width: 100%;
	height: 275px;
	background-image: url("space.jpg");
	background-size: 100%;
	padding: 33px 0% 0% 0%;
}
#control
{
	width: 100%;
	height: 115px;
	background-color: black;
}
#button1
{
	width: 50px;
	height: 50px;
	background-color: red;
	background-position : center;
	border-radius: 50%;
	margin: 0 auto;
	position: relative;
	box-shadow: 0 1px 2px #fff, 0 -1px 1px #666, inset 0 -2px 1px rgba(0,0,0,0.5), inset 0 1px 1px rgba(255,255,255,0.8);
}
#footer
{
	height: 35px;
	background-image: url("space.jpg");
	background-size: 100%;
	text-align: center;
}
a
{
	font-family: verdana;
	font-size: 10;
	color: skyblue;
}

td
{
	background-image: url("");
	background-size: 100%;
	margin: auto%;
	width: 60px;
	height: 60px;
}
table
{
	margin: auto;
}
table, td
{
	color: white;
	border: 1px solid skyblue;
	border-collapse: collapse;
}
#uno
{
	background-image: url("ship1.png");
	background-size: 80%;
	background-repeat : no-repeat;
	background-position : center;
	transform: rotate(90deg);
}
#dos
{
	background-image: url("ship2.png");
	background-size: 80%;
	background-repeat : no-repeat;
	background-position : center;
	transform: rotate(270deg);
}
